body {
    background-color: white;
    color: black;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1em;
    max-width: 70ex;
    word-wrap: break-word;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }
}

nav {
    margin-bottom: 1em;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

nav a {
    margin-right: 1em;
}

.subpages {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.subpages li {
    margin: 0.5em 0;
}

.subpagestitle {
    font-size: 1.1em;
}

pre {
    margin: 0;
    padding: 1em;
    white-space: pre-wrap;
}

pre::before {
    float: right;
    content: attr(data-lang);
    text-decoration: underline;
}

footer ul {
    list-style-type: none; /* Remove bullets */
    padding: 0;
}

footer li {
    margin: 0.5em 0;
}

table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

thead {
    border-bottom: 1px solid;
}

th, td {
    padding: 0 0.5em 0 0.5em,
}

code {
    background-color: lightgray;
}
