body {
    margin-left: auto;
    margin-right: auto;
    padding: 0 1em;
    max-width: 70ex;
    word-wrap: break-word;
}

nav {
    margin-bottom: 1em;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

nav a {
    margin-right: 1em;
}

.subpages {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

pre {
    margin: 0;
    padding: 1em;
    white-space: pre-wrap;
}

pre::before {
    float: right;
    content: attr(data-lang);
    text-decoration: underline;
}

footer ul {
    list-style-type: none; /* Remove bullets */
    padding: 0;
}

footer li {
    margin: 0.5em 0;
}
