<footer>
    <hr />
    <b>Correctness, Efficiency, Performance</b>
    <ul>
        <li>
            <a href="{{ config.extra.github_url }}">GitHub - <code>jeffa5</code></a>
        </li>
        <li>
            <a href="{{ config.extra.linkedin_url }}">LinkedIn</a>
        </li>
        <li>
            <a href="{{ config.extra.google_scholar_url }}">Google Scholar profile</a>
        </li>
        <li>
            <a href="{{ get_url(path="/blog/atom.xml") }}">Atom/RSS feed</a>
        </li>
    </ul>
</footer>
