<!DOCTYPE html>
<html lang="en-gb">

<head>
    {% include "head.html" %}

    <title>{{ config.title }}</title>
</head>

<body>
    {% include "header.html" %}

    <div>
        <p>
            I'm Andrew, feel free to look around.
        </p>

        <p>
            I'm currently a PhD student at the University of Cambridge in the <a href="https://www.cl.cam.ac.uk/research/srg/">Systems Research Group</a>, particularly working on distributed systems, supervised by <a href="https://mort.io">Richard Mortier</a>.
        </p>
    </div>

    {% include "footer.html" %}
</body>

</html>
