<!DOCTYPE html>
<html lang="en-gb">

<head>
    {% include "head.html" %}

    <title>{{ section.title }} | {{ config.title }}</title>
</head>

<body>
    <div id="main">
    {% include "header.html" %}

    <div>
        <h1>{{ section.title }}</h1>
    </div>

    <div>
        <ul class="subpages">
            {% for page in section.pages %}
            <li>
                {% if page.draft %}<b> Draft </b>{% endif %}
                <a href="{{ page.path }}" class="subpagestitle">{{ page.title }}</a>
                <br/>
                {{ page.date }}
            </li>
            {% endfor %}
        </ul>
    </div>

    {% include "footer.html" %}
    </div>
</body>

</html>
